.container {
  display: flex;
  justify-content: space-between;
}
.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
  margin-left: 15%;
}
li {
  list-style-type: none;
  color: black;
  display: inline;
  margin-right: 20px;
  size: 50px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button {
  margin-top: 40px;
}