body {
    background-color: rgb(32, 28, 28);
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}
.main {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    height: 100vh;
}
.container {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar {
    margin-top: 45%;
}
.navbar ul li {
    list-style-type: none;
}
.navbar li img {
    background-color: #1e1d1c;
    margin: 15px;
    height: 30px;
    width: auto;
    border: 1px solid #ffc300;
    border-radius: 50px;
    padding: 7px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.navbar li img:hover {
    transform: scale(1.10);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}