body {
  background-color: #d3d3dd;
  overflow: hidden;
  margin: 0;
}

.orange-circle, .white-circle, .black-circle, .blue-circle {
  border-radius: 50%;
  position: absolute;
}

.orange-circle {
  width: 250px;
  height: 150px;
  background-color: #FF6F00;
  top: -50px;
  left: -50px;
}

.white-circle {
  width: 200px;
  height: 150px;
  background-color: #ffffff;
  top: -50px;
  right: -40px;
}

.black-circle {
  width: 150px;
  height: 150px;
  background-color: #000000;
  bottom: -90px;
  left: -30px;
}

.blue-circle {
  width: 330px;
  height: 150px;
  background-color: blue;
  bottom: -100px;
  right: -80px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

button {
  background-color: #FF6F00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .orange-circle {
    width: 125px;
    height: 75px;
    top: -25px;
    left: -25px;
  }
  
  .white-circle {
    width: 100px;
    height: 75px;
    top: -25px;
    right: -20px;
  }
  
  .black-circle .blue-circle {
    display: none;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  nav ul li {
    margin: 5px 0;
  }
}
