html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    background-color: rgb(30, 28, 28);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container {
    width: 15%; /* Make the navbar container smaller */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar ul li {
    list-style-type: none;
}

.navbar li img {
    background-color: #1e1d1c;
    margin: 15px;
    height: 30px;
    width: auto;
    border: 1px solid #ffc300;
    border-radius: 50px;
    padding: 7px;
    transition: transform 0.3s ease, filter 0.3s ease; 

}

.navbar li img:hover {
    transform: scale(1.10);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.right-container {
    width: 85%;
    color: white;
    border-radius: 10px;
    max-height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.profile-div {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    margin-top: 150px;
}
.wasif {
    height: 200px;
    width: auto;
    border-radius: 50%;
    box-shadow: 10px 5px 15px black;

}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name h1 {
    font-size: 40px;
    margin-bottom: 0;
    text-shadow: 10px 5px 15px black;
    color: #ffc300;
}
.name p {
    margin-top: 7px;
    font-size: 20px;
    text-shadow: 10px 5px 15px black;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links a {
    margin: 5px;
    transition: transform 0.3s ease;
}
.links a:hover {
    transform: scale(1.30);
}
.contact-button {
    display: flex;
    justify-content: center;
}
.contact-button button {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    background-color: #ffc300;
    border: 1px solid #ffc300;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: transform 0.3s ease;
    box-shadow: 10px 5px 15px black;
}
.contact-button button:hover {
    transform: scale(1.10);
    background-color: #d4aa20;
}

/* For Responsiveness*/
.navbar-media {
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.navbar-media ul li {
    list-style-type: none;
    display: inline;
}
.navbar-media li img {
    background-color: #1e1d1c;
    border: 1px solid #ffc300;
    border-radius: 50%;
    height: 30px;
    width: auto;
    padding: 7px;
}






/*Styles for about page */
.aboutmain {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
}
/*Middle Container with heading and picture*/
.middle-container {
    margin-right: 50px;
    justify-content: center;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 20%;
    max-height: 100%;
}
.middle-container h1 {
    text-shadow: 10px 5px 15px black;
    font-family: Arial, Helvetica, sans-serif;
}
.middle-container h1 {
    color: #ffc300;
}
.middle-container img{
    margin-top: 80px;
    border-radius: 50%;
    box-shadow: 10px 5px 15px black;
}



/*Styles of abright-container with about p*/
.p-container {
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    height: 425px;
    width: 800px;
    border: 1px solid #383838;
    border-radius: 12px;
    background-color: #383838;
    padding: 10px;
    box-shadow: 0px 0px 20px black;
}
.p-container p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}
.p-container p button {
    background-color: #ffc300;
    border: 1px solid #ffc300;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    color: white;
    transition: transform 0.3s ease;
    box-shadow: 5px 10px 50px black;
}
.abright-container p button:hover {
    transform: scale(1.10);
}



/* 4 boxes of git repositorey and about information */
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}
.box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box1text {
    margin-left: 40px;
}
.box1text h1 {
    color: #8c8989;
}
.box1text h2 {
    color: white;
}
.box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box2text {
    margin-left: 40px;
}
.box2text h1 {
    color: #8c8989;
}
.box2text h2 {
    color: white;
}

.box3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box3 img {
    width: 50px;
    height: 50px;
}
.box3text {
    margin-left: 40px;
}
.box3text h1 {
    color: #8c8989;   
}
.box3text h2 {
    color: white;
}


.box4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box4text {
    margin-left: 40px;
}
.box4text h1 {
    color: #8c8989;
}
.box4text h2 {
    color: white;
}


/*All the bars*/

.newaboutsec {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.newaboutsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.newaboutsec h1 {
    text-shadow: 10px 10px 10px black;
}
.masterbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 60px;
}

.leftside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.htmlbar {
    height: 10px;
    background-color: rgb(138, 133, 133);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    box-shadow: 5px 10px 15px black;
}

.htmlprogress {
    width: 90%;
    height: 100%;
    background-color: #ffc300;
}
.gitbar {
    height: 10px;
    background-color: rgb(138, 133, 133);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    box-shadow: 5px 10px 15px black;
}
.gitprogress {
    width: 80%;
    height: 100%;
    background-color: #ffc300;
}

.pythonbar {
    height: 10px;
    background-color: rgb(138, 133, 133);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    box-shadow: 5px 10px 15px black;
}
.pythonprogress {
    width: 30%;
    height: 100%;
    background-color: #ffc300;
}
.rightside {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.cssbar {
    height: 10px;
    background-color: rgb(138, 133, 133);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    box-shadow: 5px 10px 15px black;
}
.cssprogress {
    width: 85%;
    height: 100%;
    background-color: #ffc300;
}
.javabar {
    height: 10px;
    background-color: rgb(138, 133, 133);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    box-shadow: 5px 10px 15px black;
}
.javaprogress {
    width: 65%;
    height: 100%;
    background-color: #ffc300;
}
.djangobar {
    height: 10px;
    background-color: rgb(138, 133, 133);
    overflow: hidden;
    width: 80%;
    max-width: 600px;
    box-shadow: 5px 10px 15px black;
}
.djangoprogress {
    width: 30%;
    height: 100%;
    background-color: #ffc300;
}




.timeline {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%; 
    flex-direction: column;
}
/*Education*/
.eduborder {
    flex-wrap: wrap;
    margin-left: 65px;
    border-left: 5px solid #ffc300;
}
.eduheading {
    text-shadow: 10px 10px 10px black;
}
.eduborder h2 {
    color: white;
}
/* VU Section*/
.vu {
    display: flex;
    flex-direction: row;
}
.vu img {
    margin-left: 20px;
    margin-top: 8px;
    height: 50px;
    width: auto;
}
.vu div {
    margin-left: 15px;
}
.vu div h4 {
    color: white;
}
.vu div p {
    color: #8c8989;
}


/*MAO Secttion */
.mao {
    display: flex;
    flex-direction: row;
}
.mao img {
    margin-left: 20px;
    margin-top: 5px;
    height: 50px;
    width: auto;
}
.mao div {
    margin-left: 20px;
}
.mao div h4 {
    color: white;
}
.mao div p {
    color: #8c8989;
}

/*Certification*/ 
.cerborder {
    flex-wrap: wrap;
    border-left: 5px solid #ffc300;

}
.cerheading {
    text-shadow: 10px 10px 10px black;
}
.cerborder h2 {
    color: white;
}
.digi1 {
    display: flex;
    flex-direction: row;
}
.digi1 img {
    margin-left: 20px;
    margin-top: 15px;
    height: 30px;
    width: auto;
}
.digi1 div  {
    margin-left: 20px;
}
.digi1 div h4 {
    color: white;
}
.digi1 div p {
    color: #8c8989;
}

.digi1 div a {
    text-decoration: none;
}
.linkedin {
    display: flex;
    flex-direction: row;
}
.linkedin img {
    margin-left: 20px;
    margin-top: 15px;
    height: 30px;
    width: auto;
}
.linkedin div {
    margin-left: 20px;
}
.linkedin h4 {
    color: white;
}

.linkedin a {
    text-decoration: none;
}
.linkedin p {
    color: #8c8989;
}
.harvard {
    display: flex;
    flex-direction: row;
}
.harvard img {
    margin-top: 15px;
    margin-left: 15px;
    height: 40px;
    width: auto;
}
.harvard div {
    margin-left: 20px;
}
.harvard h4 {
    color: white;
}

.harvard a {
    text-decoration: none;
}
.harvard p {
    color: #8c8989;
}
.pu {
    display: flex;
    flex-direction: row;
}
.pu img {
    margin-top: 10px;
    margin-left: 13px;
    height: 50px;
    width: auto;
}
.pu div {
    margin-left: 10px;
}
.pu h4 {
    color: white;
}
.pu p {
    color: #8c8989;
}

.pu a {
    text-decoration: none;
}
.cisco {
    display: flex;
    flex-direction: row;
}
.cisco img {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: auto;
}
.cisco div {
    margin-left: 20px;
}
.cisco h4 {
    color: white;
}
.cisco p {
    color: #8c8989;
}
.cisco a {
    text-decoration: none;
}
.amnesty {
    display: flex;
    flex-direction: row;
}
.amnesty img {
    margin-top: 15px;
    margin-left: 20px;
    height: 40px;
    width: auto;
}
.amnesty div {
    margin-left: 20px;
}
.amnesty h4 {
    color: white;
}
.amnesty p {
    color: #8c8989;
}
.amnesty a {
    text-decoration: none;
}

.aspire {
    display: flex;
    flex-direction: row;
}
.aspire img {
    margin-top: 15px;
    margin-left: 20px;
    height: 40px;
    width: auto;
}
.aspire div {
    margin-left: 20px;
}
.aspire h4 {
    color: white;
}
.aspire p {
    color: #8c8989;
}
.aspire a {
    text-decoration: none;
}





/*Style for contact Page*/
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.leftc {
    margin-left: 50px;
    justify-content: center;
    display: flex;
    width: 30%;
}
.leftc h2, p {
    color: rgb(159, 153, 153);
}
.leftc h1 {
    color: #ffc300;
}
.textleft {
    display: flex;
    flex-direction: column;
}
.textleft p {
    margin-top: 5px;
}
.rightc {
    justify-content: center;
    width: 70%;
    display: flex;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contactdiv {
    display: flex;
    flex-direction: column ;
    width: 50%;
    margin-top: 150px;
    margin-right: 15px;
}
.fname {
    display: flex;
    height: 40px;
    width: 350px;
    border: 1px solid black;
    border-radius: 27px;
    padding: 8px;
    padding-left: 20px;
    box-shadow: 10px 5px 15px black;
}
.email {
    display: flex;
    height: 40px;
    width: 350px;
    border: 1px solid #000000;
    border-radius: 25px;
    margin-top: 30px;
    padding: 8px;
    padding-left: 20px;
    box-shadow: 10px 5px 15px black;

}
.textarea {
    height: 150px;
    width: 335px;
    display: flex;
    border-radius: 15px;
    margin-top: 30px;
    padding: 15px;
    padding-left: 20px;
    border: 1px solid black;
    box-shadow: 10px 5px 15px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.formbtn {
    margin-top: 20px;
    height: 50px;
    width: 110px;
    border-radius: 30px;
    border: 1px solid #ffc300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: #ffc300;
    transition: transform 0.3s ease;
    box-shadow: 10px 5px 15px black, filter 0.3s ease;

}
.contactdiv button:hover {
    transform: scale(1.10);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

}
.otherside {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 100px;
}

.otherside h1 {
    color: #ffc300;
}

.otherside h2 {
    color: #8c8989;
}
.contact .otherside p a {
    text-decoration: none;
    color: inherit;
}
footer {
    display: flex;
    background-color: #383838;
    justify-content: center;
}
/*Query of Style.css*/

/*@media only screen and (max-width: 470px) {
    .navbar-media {
        display: flex;
    }
    .navbar-media ul li{
        margin-right: 15px;
    }
    .navbar-media ul li img {
        height: 30px;
        width: auto;
    }
    .navbar {
        display: none;
    }
    .right-container {
        margin-top: 0px;
        max-width: 100%;
        margin-right: 35px;
    }

}
@media only screen and (min-width: 470px){
    .navbar-media {
        display: none;
    }
    .navbar {
        display: flex;
    }
}*/
@media only screen and (max-width: 470px) {
    .main {
        margin-right: 25px;
    }
    .container {
        justify-content: center;
        align-items: center;
    }
    .navbar {
        display: none;
    }
    .navbar-media {
        display: flex;
        width: 93%;
    }
    .navbar-media ul li {
        margin-right: 15px;
    }
    
    .contact {
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .button {
        display: none;
    }
    .masterbar {
        flex-direction: column;
        width: 100%;
        margin-left: 70px;
    }
    .masterbar .leftside {
        width: 100%;
    }
    .masterbar .rightside {
        width: 100%;
    }
    .aboutmain {
        flex-direction: column;
    }
    .middle-container {
        margin-left: 50px;
        width: 40%;
    }
    .middle-container img {
        display: none;
    }
    .p-container {
        height: 725px;
        margin-left: 50px;
    }
    .p-container p a button {
        display: none;
    }
    .cerborder {
        width: 65%;
    }
    .otherside {
        margin-left: 15px;
    }
    .contactdiv {
        margin-top: 20px;
    }
    .contact .fname {
        
        height: 40px;
        width: 300px;
    }
    .contact .email {
        height: 40px;
        width: 300px;
    }
    .contact .textarea {
        height: 150px;
        width: 290px;
    }
}
@media only screen and (min-width: 471px){
    .navbar-media {
        display: none;
    }
    .navbar {
        display: flex;
    }
    .button1 {
        display: none;
    }
}